#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  gap: 20px;
}
.gallery-item {
  flex-basis: 30%;
  margin-bottom: 6px;
  opacity: 0.85;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  transition: 0.2s ease-out;
}

.gallery-item:hover {
  z-index: 1;
  transform: scale(1.2);
}

.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-content {
  font-size: 0.8em;
}

.popup {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 2;
}
.popup-content {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 5% auto;
}
.popup-content img {
  border-radius: 7px;
  box-shadow: 0 0 3px 0 rgba(225, 225, 225, 0.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup-prev,
.popup-next {
  position: absolute;
  color: #fff;
  padding: 20px;
  top: 45%;
  cursor: pointer;
}
.popup-prev {
  left: 0;
  background: no-repeat center/90% url('../image/chevron-left.png');
  z-index: 1;
}
.popup-next {
  background: no-repeat center/90% url('../image/chevron-right.png');
  right: 0;
  z-index: 1;
}
.popup-prev:hover,
.popup-next:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  #gallery-container {
    width: 80%;
    gap: 10px;
  }
  .gallery-item {
    flex-basis: 45%;
    margin-bottom: 3px;
  }
  .gallery-item:hover {
    transform: scale(1.2);
  }
  .popup-content {
    width: 80%;
    margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .gallery-item:hover {
    transform: scale(1.1);
  }
  .popup-content {
    width: 90%;
    margin: 20% auto;
  }
}
